body{
    margin:0;
    padding:0;
    background-image:url(final2.jpeg);
    background-size:cover;
}
.card
{
    
    padding:60px 40px 50px;
    background-size:cover;
    border-radius:100px;
    background-color: white;
    color:black;
  
}
.container
{
  top:50%;
  left:50%;
  position:absolute;
  transform:translate(-50%,-50%);
}
#name
{
  width:250px;
  border:none;
  background:transparent;
  border-bottom:1px solid black;
  padding:5.5px;
  margin-bottom:20px;
  color:black;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16
}

img
{
  border-radius:50%;
  position:absolute;
  margin-left:130px;
  margin-top:-30px;
}

#button
{
  border:20px;
  padding:15px 10px;
  background:cyan;
  color:white;
  margin-top:20px;
  border:none;
  outline:none;
  margin-left:10px;
  color:white;
  transition:3s;
  border-radius:10px;
}
#button:hover{
    background:deepskyblue;
    transition:2s;
}
#button1
{
  border:20px;
  padding:15px 10px;
  background:cyan;
  color:white;
  margin-top:20px;
  border:none;
  outline:none;
  margin-left:10px;
  color:white;
  transition:3s;
  border-radius:10px;
}
#button1:hover{
    background:deepskyblue;
    transition:2s;
}
.style{
  padding: 5px 5px;
  color:black;
  margin-bottom:10px;
  background:beige;
  width:150px;
  border:black;
}


